@charset "utf-8";
.qna_form{
  background: #57C785;
  background: linear-gradient(360deg, rgb(42, 126, 87) 0%, rgba(223, 208, 76, 0.7) 100%);
}
a{color:#333;text-decoration:none;}

.qna{
  width:800px;
  margin:0 auto;
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
  padding:14px;
}
.qna > h3{
  width:100%;
  text-align:right;
  font-size:40px;
  padding-bottom:40px;
}
.left_form{
  width:49%;
  clear:right;
  content:"";
  display:block;
}
.left_form p{
  line-height:60px;
  margin:0px 0px;
  padding:0px 10px;
  background:rgba(0,0,0,.6);
  color:#fff;
  border-radius:4px;
}
.left_form p:nth-child(2){
  margin:6px 0px;
}
.left_form input{
  width:80%;
  border:none;line-height:50px;
  background:none;
  color:#fff;
}
.left_form label{
  display:inline-block;
  width:70px;
}
.right_form{
  width:49%;
  background:rgba(0,0,0,.6);
  color:#fff;
  padding:10px;
  box-sizing: border-box;
  border-radius:4px;
}
.right_form label{margin-right:10px;}
.right_form textarea{
  width:100%;
  border:none;
  vertical-align: top;
  margin-top:7px;
  background:none;
  color:#fff;
}

.qna .agree_wrap{
  width:100%;
  display:flex;
  padding-top:20px;
  justify-content:space-between;
}
.qna .agree_wrap label{
  color:#fff;

}
.qna #agree[type=checkbox]{
  transform:translate(10px, 10px);
  width:20px;height:20px;
  border:none;
}
.qna #agree+label{
  transform: translate(-76px,9px);
}
.submit_btn{
  width:400px;height:50px;
  border-radius:5px;
  border:none;
  background:#131313;color:#fff;
}

/* 로그인 폼 서식 */
.login-container {
  text-align: center;
  margin-top: 100px;
}
.login-container label{
  display:none;
}
.input-box {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 240px;
  border: 1px solid #ccc;
}

.login-button {
  width:260px;
  padding: 10px 20px;
  background-color: rgb(168, 129, 0);
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
.btn-group{padding-top:16px}
.btn-group a{
  margin:0px 10px;
  font-size:0.9rem;
}
.message {
  margin-top: 20px;
  font-weight: bold;
}

.success {
  color: green;
}

.fail {
  color: red;
}

.login-container dl{text-align:left;}